@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(./vintage&map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 60%;
  margin: 33vh auto 10vh auto;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-size: 3rem;
}

button {
  padding: 10px 13px;
  ;
  background: linear-gradient(to bottom, #4eb5e5 0%, #389e90 100%);
  /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  color: #fbfbfb;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
  cursor: pointer;

  /* Just for presentation */
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

button:active,
button:hover {
  box-shadow: 0px 2px 0px 0px black;
  transform: scale(1.2);
  transition: all 0.3s ease;
  z-index: 9999;
}

.active {
  background: linear-gradient(to bottom, brown 0%, #590000 100%);
}

input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px -1px 15px 3px rgba(68, 201, 250, 1);
  text-align: center;
}

.result {
  margin-top: 10px;
  display: block;
  font-size: 16px;
}

.words {
  color: yellow;
  font-weight: bold;
}

.nums {
  color: yellow;
  font-weight: bold;
}

.numCountries {
  font-weight: bold;
}

.countries-wrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.country:hover {
  transform: scale(1.2);
  z-index: 999;
  opacity: 1;
  font-weight: bold;
}

/* .text-color {
  mix-blend-mode: difference;
} */

.keyword {
  color: yellow;
  /* Capitalize the keyword if it's at the 1st letter of the word. */
  text-transform: capitalize;
}